dist-newstyle
agner.cabal
cabal.project.local

example.s
example.S
example

runtime/**/*.o
runtime/**/*.s
runtime/**/*.S

out

*.dSYM
log_*.csv

examples/*
!examples/*.erl
!examples/run_*

.DS_Store

agner-output
